@font-face {
    font-family: 'Tektur';
    src: url('./fonts/Tektur-VariableFont.ttf')  format('truetype');
}

body {
    background-color: #000000f0;
    margin: 0;
    font-family: 'Tektur', sans-serif;

    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
}

.hw-site__header {
    background: url(./images/header.jpg);
    background-position: center;
    width: 100%;
    height: 500px;
    position: relative;
}

.hw-site__header-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffffa0;
    position: sticky;
    top: 0;
    height: 80px;
}

.hw-site__header-toolbar-icon {
    background: url(./images/logo.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    min-width: 60px;
    min-height: 60px;
    margin-left: 20px;

}

.hw-site__header-toolbar-content {
    display: flex;
    align-self: center;
    justify-content: flex-end;
}

.hw-site__header-toolbar-content > a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 32px;
    background-color: #ffffff;
    margin: 16px;
    padding: 6px;
    border-radius: 8px;
    text-decoration: none;
    color: #000000;
}

.hw-site__header-toolbar-content > a:hover {
    background-color: #ffffffaa;
    cursor: pointer;
}

.hw-site__block {
    display: flex;
    flex-direction: column;
    margin: 16px 32px 0;
    width: auto;
    height: auto;
    background: #ffffff;
    padding: 16px 32px;
    border-radius: 16px;
}

.hw-site__block._price {
    background-color: transparent;
    color: #ffffff;
}

.hw-site__subtitle {
    align-self: center;
    font-size: 32px;
    font-weight: 800;
    line-height: 36px;
    margin-bottom: 16px;
}

.hw-site__container {
    display: flex;
}

.hw-site__container._min-height {
    min-height: 300px;
}

.hw-site__image._cyberkotlets {
    background: url(./images/who1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hw-site__image._zeus {
    background: url(./images/zeus.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    min-width:
}

.hw-site__image._solo {
    background: url(./images/solo.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.hw-site__image._simple {
    background: url(./images/simple.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.hw-site__image._tip {
    background: url(./images/tip.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.hw-site__image {
    height: auto;
    width: 100%;

    margin-right: 16px;
    border-radius: 16px;
}

.hw-site__image._right {
    margin-right: 0;
    margin-left: 16px;
}

.hw-site__image._mini {
    max-height: 300px;
    background-position: top;
}

.hw-site__text._center {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 24px;
    line-height: 30px;

}

.hw-site__text._center > span {
    border: #000000 4px solid;
    border-radius: 16px;
    padding: 8px;
}


ol > li + li {
    margin-top: 8px;
}

.hw-site__text-title {
    margin-bottom: 8px;
}

.hw-site__blocks-container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(620px, 1fr));
    gap: 8px;
    width: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.hw-site__blocks-container-block {
    display: flex;
    justify-content: center;

}

.hw-site__blocks-container-block-item {
    min-width: 220px;
    min-height: 220px;
    height: 100%;
    width: 100%;
    background: #000000;
    color: #ffffff;
    padding: 16px;
    border-radius: 8px;
    border: #197400 4px solid;
}

.hw-site__blocks-container-subtitle {
    font-weight: 800;
    font-style: italic;
    margin-bottom:
}

.hw-site__blocks-container-block-item + .hw-site__blocks-container-block-item {
    margin-left: 8px;
}

.hw-site__block._price > .hw-site__container {

}

.hw-site__button {
    background-color: #fbff00;
    cursor: pointer;
    font-family: 'Tektur', sans-serif;
    font-size: 22px;
    font-weight: 800;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: none;
    padding: 8px;
}

.hw-site__button:hover {
    background-color: #fbff00a0;
}

.hw-site__button:active {
    background-color: #fbff00f0;
}

.hw-site__tarif {
    color:#000000;
    background-color: #ffffff;
    border-radius: 16px;
    padding: 16px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hw-site__tarif + .hw-site__tarif {
    margin-left: 8px;
}

.hw-site__tarif-header {
    font-size: 28px;
    text-align: center;
    font-weight: 800;
}

.hw-site__tarif-body {
    font-style: 22px;
    line-height: 24px;
}

.hw-site__tarif-price {
    font-size: 28px;
    font-weight: 800;
    text-align: center;
}

.hw-site__tarif-price,
.hw-site__tarif-button {
    display: flex;
    justify-content: center;
    margin-top: 8px;
    justify-self: flex-end;
}

.hw-site__input {
    height: 32px;
    font-size: 24px;
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    font-family: 'Tektur', sans-serif;
}

.hw-site__block._contact > .hw-site__container {
    display: flex;
    flex-direction: column;

}

.hw-site__input-container + .hw-site__input-container {
    margin-top: 16px;
}

.hw-site__input-container._button {
    margin-top: 32px;
    display: flex;
    justify-content: center;
}

.hw-site__submit-message {
    font-size: 32px;
    text-align: center;
}

.hw-site__footer {
    height: 200px;
}
